<div class="row jumbotron">
  <div class="col-md-12">
    <div class="lead">
      <h1>About me</h1>
    </div>
    <hr />
  </div>
  <div class="col-md-10">
    <p class="lead animated swing"><%- Dashboard.about %></p>
  </div>
  <div class="col-md-2 about-me pull-right">
    <img src="images/profile.jpg" alt="Me" class="img-circle img-profile">
    <br />
    <a href="mailto:<%- Dashboard.contact %>" target="_blank"><%- Dashboard.contact %></a>
  </div>

</div>
<br />
<div class="row">
  <div class="col-md-12">
    <div class="lead">
      <h1> Résumé </h1>
    </div>
    <hr />
    <h1>Experience</h1>
    <ul id="Work" class="list-unstyled">
      <% _.each(Dashboard.work, function (frame) { %>
        <li class="frame">
          <section name="frame">
            <div class="subtitle">
              <strong><em><%- frame.title %></em> in <em><%- frame.institution %></em> - <%- frame.from %> -> <%- frame.to %></strong>
            </div>
            <br />
            <blockquote>
              <%- frame.description %>
            </blockquote>
          </section>
        </li>
      <% }) %>
    </ul>
    <h1>Study</h1>
    <ul id="Study" class="list-unstyled">
      <% _.each(Dashboard.study, function (frame) { %>
        <li class="frame">
          <section name="frame">
            <div class="subtitle">
              <strong><em><%- frame.title %></em> in <em><%- frame.institution %></em> - <%- frame.from %> -> <%- frame.to %></strong>
            </div>
            <br />
            <blockquote>
              <%- frame.description %>
            </blockquote>
          </section>
        </li>
      <% }) %>
    </ul>
  </div>
</div>
<footer class="footer">
Source code available on github:
<a href="http://github.com/kainlite/resume-sails" target="_blank">Project code</a>
</footer>
  </div>
</div>
